// Estructura de los carteles de la home
.losCarteles
	margin: 2em auto

	&__header
		color: celeste_solisem
		margin-top: 2em
		h1, h2, h3, h4, h5, h6
			margin-top: 0

	&__articulo
		margin: 0.5em auto

		&__contenedor
			display: inline-block
			padding: 0 0.5em
			vertical-align: middle
			width: calc(100% - 100px - 1em)

		
		&__img
			border: 2px solid celeste_solisem
			border-radius: 0.25em
			display: inline-block
			vertical-align: middle
			width: 100px
		

		&__contenido
			display: none
			h2, h3, h4, h5, h6
				margin-top: 0


// Sólo lo mostraremos a partir de tabletas
@media all and (min-width: $mobile)
	.losCarteles
		&__articulo
			&__contenedor
				padding: 0 1em

@media all and (min-width: $tableta)
	.losCarteles
		&__articulo
			&__contenedor
				vertical-align: top

			&__img
				vertical-align: top

			&__contenido
				display: inline-block