// Borde coloreado de los enlaces y cosas del formulario
a,
button
input,
textarea
	&:focus
		outline-color #6DBCDB

// Contenido en general
@media all and (min-width: $tableta)
	.post-10
		.entry-content
			column-count: 2
			column-gap: 1em