// Borde coloreado de los enlaces y cosas del formulario
a,
button,
input,
textarea
	&:focus
		outline-color celeste_solisem

// El mapa de ubicación
.mapa
	iframe
		border: 2px solid negro_re_transparente!important
		border-radius: 0.25em

// Redes sociales
.redes_sociales
	a
		display: inline-block
		margin: auto 0.25em

.redes_sociales__contacto
	span
		// display: inline-block
		font-size: 1.25em
		margin-left: 0.5em
		line-height: 2
		vertical-align: top

// Color de íconos del footer
.fab
	transition_comun()

	&:hover
		opacity 0.5

.fa-whatsapp-square
	color verde_whatsapp

.fa-instagram-square
	color morado_instagram
	/* background: #f09433; 
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
	background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
	filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )"); */

.fa-linkedin
	color azul_linkedin

.fa-twitter-square
	color celeste_twitter

.fa-facebook-square
	color azul_facebook

// Contenido en general
@media all and (min-width: $tableta)
	.post-10
		.entry-content
			column-count: 2
			column-gap: 1em

// Ocultar y mostrar cosas

@media all and (max-width: $mobile)
	.hidden-mobile
		display: none

@media all and (max-width: $desktop)
	.hidden-tableta
		display: none

@media all and (min-width: ($desktop+1))
	.hidden-desktop
		display: none
	