.nuestros_valores
	background-color: gris_suave
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	position: relative
	padding: 2em
	
	&__contenido
		background: negro_re_transparente
		padding: 1em
		transition_comun()
	
		*
			color: blanco_puro
	
		&:hover
			background: negro_transparente


		
