// Colores Zimmerman
negro_header = #0B060C
amarillo_flor = #FDEE49

// Paleta de Colores WebModerna 4.0
blanco_puro = #fff
blanco = #feffef
gris = #A8A4A7
gris_suave = #9C8F89
gris_medio = #594A42
gris_fuerte = #222
naranja_suave = #F79641
rosa_suave = #DF1C4B
verde_azulado = #02A79E
gris_fuerte_transparente = rgba(gris_fuerte, 0.7)

// Colores comunes
verde_asa = #1c7057
marron = #927660
cremita = #F3D8B5
turquesa = #1abc9c
esmeralda = #2ecc71
azul_twitter = #3498db
amatista = #9b59b6
azul_asfalto = #34495e
verde_mar = #16a085
verde_neferteris = #27ae60
azul_feisbuc = #2980b9
morado_wisteria = #8e44ad
medianoche = #2c3e50
carrot = #e67e22
rojo_ladrillo = #e74c3c
gris_nube = #ecf0f1
gris_concreto = #95a5a6
naranja = #FE8453
naranja_fanta = #d35400
rojo_google = #c0392b
plateado = #bdc3c7
gris_absesos = #7f8c8d

// Variables de colores viejos
blanco_grisaceo = #EBEAE8
blanco_grisaceo2 = #ebebeb
blanco_transparente = rgba(255,255,255,0.5)
celeste_twitter = #4DA3C2
negro = #1A171B
negro_suave = #666
negro_re_transparente = rgba(0,0,0,0.25)
negro_transparente = rgba(0,0,0,0.5)
negro_puro = #000

// Paleta de colores de Solisem
celeste_solisem = #6DBCDB
rojo_solisem = #FC4349
verde_whatsapp = #128C7E
azul_facebook = #4664A5
celeste_twitter = #219CED
azul_linkedin = #0E72A3
morado_instagram = #D51A80