// Generales
// @import "node_modules/nib/index"
@import "variables"
@import "paleta_de_colores"
@import "funciones"
@import "fancybox"

// Estructura y Layouts
@import "header"
@import "navegacion"
@import "estructura_general"
@import "carteles"
@import "segmentos"
@import "contenidoHome"
@import "formularioContacto"
@import "nuestrosValores"

// OWL slider
@import "owl-carousel/owl.carousel"
@import "owl-carousel/owl.theme"
@import "owl-carousel/owl.transitions"

// Ir hacia arriba
@import "gotop"


// Un slider
.slider
	clear both

	.owl-controls
		display none !important

	&__item
		figure
			display block
			margin 0
			position relative
			filter sepia(30%)
			&:after
				background-color negro_re_transparente
				content ""
				left 0
				height 100%
				position absolute
				top 0
				width 100%

	&__home
		position relative

		&__leyenda
			border-radius 2px
			filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#80312720', endColorstr='#80312720',GradientType=1 )")
			background-color rgba(celeste_solisem, 0.7)
			color blanco
			font-size 1em
			left 0
			padding 0.5em
			margin 0
			position absolute
			top 0
			width 100%

	// El del los trabajos realizados
	&__secundario
		box-sizing border-box
		margin-top 1em
		padding 0

		.slider__item
			margin 0 0.25em 0 0
			border:1px solid pink

			figure
				margin 0 !important
				max-width 300px

				figcaption
					color gris_suave
					padding 0.5em
					position relative
					overflow hidden


				a
					display block
					imagenizador()
					overflow hidden
					position relative
					text-decoration none
					transition_comun()


				img
					border 1px solid gris_nube
					display block
					position relative
					width 100%
					z-index 2

// Slider central de la home
@media all and (min-width: 600px)
	.slider
		&__item
			position relative
			
		&__home__leyenda
			bottom auto
			display table-cell
			font-size 30px
			left 10%
			margin-right auto
			margin-left auto
			padding 15px
			top 40%
			width 80%